<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ::: AGILEPAT :::</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssLogin")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="~/Content/Iconos/all.min.css" />
</head>
<body class="p-t-0">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/all.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
</body>
</html>
